:root {
  //Colors
  --white: #ffffff;
  --black: #000000;
  --lighter-grey: #fcfafb;
  --light-grey: #dee2e6;
  --grey: #c8d3d6;
  --light-purple: #7a82cc;
  --dark-purple: #2f284e;

  //Spacing
  --spacing-8: 8px;
  --spacing-16: 16px;
  --spacing-24: 24px;
}
